In [4]:
import pandas as pd
import numpy as np
import requests
import io

Nilai = ['100', '90', '100','...']
Nama = ['Arina Deliafaza', 'Galan Bagaskara', 'Kalista Wallace','...']
df = pd.DataFrame({
    'Nilai': Nilai,
    'Nama': Nama,
})

url = "https://github.com/annisanas/Prakfiskom3_PengolahanData/raw/main/Rekapitulasi%20Nilai%20Kuis%20Rapat%20Aliran%20Energi.xlsx"
response = requests.get(url)

if response.status_code == 200:
    database = pd.read_excel(io.BytesIO(response.content))
    print(database.columns)
    print(database.describe())
    print(database.head())
    print(database.tail())
else:
    print("Failed to download the file. Status code:", response.status_code)

x = [i for i in range(0, 7)]
y = np.sin(x)

dataframe = pd.DataFrame({
    'x': x,
    'y': y
})
dataframe['z'] = np.cos(x)

print(dataframe)

Index(['Unnamed: 0', 'No', 'Nama', 'Nilai'], dtype='object')
       Unnamed: 0        No      Nilai
count         0.0  20.00000   20.00000
mean          NaN  10.50000   96.00000
std           NaN   5.91608    7.53937
min           NaN   1.00000   75.00000
25%           NaN   5.75000   97.50000
50%           NaN  10.50000  100.00000
75%           NaN  15.25000  100.00000
max           NaN  20.00000  100.00000
   Unnamed: 0  No               Nama  Nilai
0         NaN   1    Arina Deliafaza    100
1         NaN   2    Galan Bagaskara     90
2         NaN   3    Kalista Wallace    100
3         NaN   4    Nathan Delogard    100
4         NaN   5  Lyra Shannon Cole     85
    Unnamed: 0  No                  Nama  Nilai
15         NaN  16      Jeihan Bramantyo    100
16         NaN  17       Zahara Natasya     100
17         NaN  18        Bianca Azarine    100
18         NaN  19  Reiza Gineng Prayuda    100
19         NaN  20      Panji Baharrudin    100
   x         y         z
0  0  0.000000  1.000000
1  1  0.841471  0.540302
2  2  0.909297 -0.416147
3  3  0.141120 -0.989992
4  4 -0.756802 -0.653644
5  5 -0.958924  0.283662
6  6 -0.279415  0.960170